.country-page-container{
    height: 100%;
    min-height: 100vh;
    padding: 3.5rem 5rem;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    row-gap: 3rem;
}

.country-page-info {
    min-height:200px;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.country-page-flag-xl {
    max-height: 401px;
    max-width: 560px;
    border-radius: .3rem;
}

.country-page-text-container {
    height: 323px;
    width: 598px;
    display:flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: .5rem;
}

.country-page-name-header {
    font-size:var(--bold-font-size);
    font-weight: var(--font-weight-800);
}

.country-page-description-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 0rem;
    column-gap: 1rem;
}

.country-page-name-native,
.country-page-population,
.country-page-region,
.country-page-subregion,
.country-page-tld,
.country-page-currencies,
.country-page-languages,
.country-page-capital,
.country-page-borders {
    font-weight: var(--font-weight-600);
    margin-bottom: .25rem;
}

.country-page-data {
    font-weight: var(--font-weight-300);
}

.country-page-basic-info, .country-page-advanced-info {
    max-width: 12rem;
}

.country-page-borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 1.25rem;
}

.border-country-page-button {
    width: 96px;
    height: 28px;
    font-size: var(--regular-font-size);
    font-weight: var(--font-weight-300);
    padding: 0rem;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 10%);
    margin-right: .75rem;
    margin-bottom: .75rem;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
}

.back-button {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    width: 136px;
    height: 40px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
    border-radius: .2rem;
    cursor: pointer;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 5%);
}

.back-button svg {
    fill: var(--text-color);
}

.link {
    color: inherit;
    text-decoration: inherit;
    display: contents;
}

@media (min-width: 0px) and (max-width: 750px) {
    .country-page-container {
        width: 100vw;
    }

    .country-basic-info, .country-advanced-info {
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        row-gap: .125rem;
    }

    .country-page-info {
        flex-direction: column;
        max-width: 20rem;
        row-gap: 1.5rem;
    }

    .country-text-container {
        padding: 0rem;
        max-width: 20rem;
    }

    .country-description-container {
        flex-direction: column;
        row-gap: 2.5rem;
        padding: 1rem 0rem 0rem 0rem;
        margin-bottom: 1rem;
    }

    .country-flag-xl {
        max-height: 229px;
        max-width: 320px;
    }

    
  }