.search-bar-container {
    /* border: 1px solid palegreen;  */
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    row-gap: 3rem;
    
}

.search-bar {
    height: 56px;
    max-width: 480px;
    min-width: 343px;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    gap: 1.5rem;
    font-size:var(--regular-font-size);
    background-color: var(--white);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 5%);
}

.search-bar input {
    border: none;
    height: 56px;
    width: 250px;
}

@media (min-width: 0px) and (max-width: 750px) {
    .search-bar-container {
        /* border: 1px solid palegreen; */
        justify-content: center;
        max-width: 343px;
    }
}