@import url("../reset.css");

:root {
  --dark-mode-dark-blue: hsl(209, 23%, 22%);
  --dark-mode-very-dark-blue: hsl(207, 26%, 17%);
  --light-mode-very-dark-blue: hsl(200, 15%, 8%);
  --light-mode-dark-gray: hsl(0, 0%, 52%);
  --light-mode-very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0deg, 0%, 100%);
  --bold-font-size: 24px;
  --country-name-font-size: 18px;
  --regular-font-size: 14px;
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
  --font-weight-300: 300;
  --font-weight-600: 600;
  --font-weight-800: 800;
  --tablet: 750px;
  --primary-bg-color:  hsl(0deg, 0%, 100%);
  --secondary-bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 0%);
}

[data-theme="dark"] {
  --text-color: hsl(0deg, 0%, 100%);
  --primary-bg-color: hsl(209, 23%, 22%);
  --secondary-bg-color: hsl(207, 26%, 17%);
}

/* fonts */

@font-face {
  font-family: Nunito Sans;
  src: url('../assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

.main {
  font-family: "Nunito Sans", sans-serif;
  font-weight: var(--font-weight-300);
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 750px) {
  .main {
      border: 1px solid dodgerblue;
      align-items: center;
  }
}